# Adopt this unit file into your configuration and workflow.
# It is likely that directly using this file as it is
# might not work for everyone.

[Unit]
Description = Envoy
Documentation = https://www.envoyproxy.io/docs
Requires = network-online.target
After = flightpath.service

[Service]
User = envoy
Group = envoy

KillMode = process
Restart = on-failure
TimeoutStopSec = 30

# Fetch the configuration from external source
# ExecStartPre = /usr/bin/consul kv get config/lb/edge/envoy
ExecStart = /usr/bin/envoy --log-level INFO --config-path /etc/envoy.d/config.yaml

LimitNOFILE = 65536

[Install]
WantedBy = multi-user.target